@charset "UTF-8";

* h1, h2, h3{   
    font-size: 1em;
} 

* article, aside, p{
    font-size: .9em;
}

header {
    max-height: 50vh;
    
}

nav.menu a{
    position: relative;

    top: 80px;
    left: 20vh;
    font-size: .9em;
}    

picture.logo img{
    position: absolute;
    top: 2px;
    left: 2vw;

    max-width: 20vw;
    max-height: 20vh; 
}