@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Bungee+Outline&family=M+PLUS+Rounded+1c&family=Rye&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Bungee+Outline&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=M+PLUS+Rounded+1c&family=Rye&display=swap');

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Outline&family=M+PLUS+Rounded+1c&family=Rye&display=swap') format('opentype');
}

* h1, h2, h3{
    margin: 0px;
    font-family: var(--font-destaque);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-weight: normal;
    color: var(--cor1);
    font-size: clamp(1em, 2vw, 1.3em);
}

*p, li{
    text-align: justify;
    font-size: clamp(0.9em, 2vw, 1.3em);
}

:root{
    --cor0: #7A38A6;
    --cor1: hsla(277, 100%, 84%, 0.603);
    --cor2: #F2441D;
    --cor3: hsla(11, 95%, 62%, 0.712);
    --cor4: hsl(239, 100%, 76%);
    --cor5: hsla(11, 100%, 64%, 0.795);

    --font-destaque: 'Boldonse', sans-serif;
    --font-padrao: 'Inter', sans-serif;
}

html, body{    
    padding: 0px;
    margin: 0px;  
}

header {
    background-color: var(--cor4);
    max-height: 30vh;
    border-bottom: 2px solid orangered;
    border-top-width: 0px;
    text-align: right;
    padding-right: 20vw;
    padding-bottom: 1vh;
}


picture.logo{
    float: left;
    position: absolute;
    display: block;
    top: 0;
    left: 20vw;
    background-color: white;
    border-radius: 10px;  
    border: 2px solid var(--cor2);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
 }

div{
    height: 17vh;    
}

nav.menu a{
    font-family: var(--font-destaque);
    font-size: clamp(0.80em, 0.98vw, 1em);
    text-decoration: none;
    color: var(--cor2);
    text-shadow: 1px 1px 2px rgb(0, 0, 0); 
    position: relative;
    margin: .5%;
    padding: 3px;
    box-sizing: border-box;
}

nav.menu a:hover{
    background-color: var(--cor5);
    transition-duration: 0.3s;
    color: var(--cor0);
    text-shadow: 1px 1px 1px rgb(0, 0, 0); 
    border-radius: 5px;
    border: 1px solid var(--cor0);
    padding: 3px;
}



main{
    background-color: var(--cor1);
    border-bottom: 2px solid orange;  
    padding-right: 20%;
    padding-left: 20%; 
}

article picture.fisiorio img{
    box-shadow: 1px 1px 3px black;
    width: 100%;
}

article > p{
    text-align: justify;
}

main p{
    font-family: var(--font-padrao);
    text-align: justify;
    font-weight: normal;
    line-height: 1.5em;
}

main ul{
    font-family: var(--font-padrao);
    text-align: justify;
}

footer{
    
    font-family: var(--font-padrao);
    font-weight: bold;
    font-size: large;
    background: var(--cor2);
    color: white;
    text-shadow: 1px 1px 1px black;
    font-family: var(--font-padrao);
    padding-left: 1%;
    border: 2px solid orangered;
    font-variant: small-caps;
    font-weight: normal;
    }

    nav.social img{
        border: 1px solid var(--cor1);
        box-sizing: border-box;
    
        width: 40px;
        border-radius: 50%;
     }
    
    nav.social img:hover{
        border: 2px solid var(--cor0);
        box-shadow: 2px solid var(--cor0);
     }
