@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Bungee+Outline&family=M+PLUS+Rounded+1c&family=Rye&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Bungee+Outline&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=M+PLUS+Rounded+1c&family=Rye&display=swap');

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Outline&family=M+PLUS+Rounded+1c&family=Rye&display=swap') format('opentype');
    font-weight: normal;
    font-family: "Boldonse", "Inter", sans-serif;
    font-style: normal;
}

* h1, h2, h3{
    height: 7vh;
    margin: 0px;
    font-family: var(--font-destaque);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-indent: 10px;
    font-weight: 100;
    font-size: large;
    text-align: justify;
    color: var(--cor1);
}

* p{
    padding-left: 10px;
    text-align: justify;
}

:root{
    --cor0: #7A38A6;
    --cor1: hsla(277, 100%, 84%, 0.603);
    --cor2: #F2441D;
    --cor3: hsla(11, 95%, 62%, 0.712);
    --cor4: hsl(239, 100%, 76%);
    --cor5: hsla(11, 100%, 64%, 0.795);

    --font-destaque: 'Boldonse', sans-serif;
    --font-padrao: 'Inter', sans-serif;
}

html, body{    
    padding: 0px;
    margin: 0px;  
}

header {
    max-width: 100vw;
    height: 50px;
    border: 3px solid orange;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    text-align: right;
    padding-top: 20px;
    padding-right: 130px;
}

div{
    background-size: 40%;
    height: 20vh;    
}

div nav a{
    font-family: var(--font-destaque);
    font-size: smaller;
    text-decoration: none;
    color: var(--cor2);
    text-shadow: 1px 1px 1px rgb(0, 0, 0); 
    padding: 0px 5px 0px 5px;    
}

div nav a:hover{
    background-color: var(--cor5);
    transition-duration: 0.3s;
    color: var(--cor0);
    text-shadow: 1px 1px 1px rgb(0, 0, 0); 
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    border: 2px solid var(--cor0);
}

main{
    background-color: var(--cor1);
    max-width: 1100px ;
    margin: auto;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 10px;
    
}
main article{
    border-top: 2px solid #346369;
    border-bottom: 2px solid #346369;
    background: #68c8d4 url(../fisioterapia/ilustracao-fisio\ 2.jpg) center center no-repeat scroll;
    background-size: contain;
    margin: auto;
    max-width: 100%;
    min-height: 50vh;
}

main p{
    font-family: var(--font-padrao);
    text-align: left;
    text-indent: 20px;
    font-weight: normal;
    line-height: 1.5em;
}

main ul{
    font-family: var(--font-padrao);
    text-align: left;
}

footer{
    font-family: var(--font-padrao);
    background: var(--cor2);
    color: white;
    text-shadow: 1px 1px 1px black;
    font-family: var(--font-padrao);
    max-height: 100vh;
    border: 2px solid orange;
    max-width: 1100px ;
    margin: auto;
    border-radius: 5px;
    font-variant: small-caps;
    font-weight: normal;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    
}

footer a:hover{
    color: #c800bb;
    text-decoration: underline;
    
}