@charset "UTF-8";

@media screen and (max-width: 768px){
    * h1, h2, h3{
        font-size: 1.2em;
    }
    picture#logo > a > img{
        position: relative;
        left: 0px;
    }
    menu#itens > a{
        position: relative;
        left: -2vw;
        }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    menu#itens > a{
        position: relative;
        left: 25vw;
        }
    article, aside{
        margin: auto;
        max-width: 768px;
    }

    picture#logo > a > img{
        position: relative;
        left: 10vw;
    }
}

@media screen and (min-width: 1024px){
    menu#itens > a{
        position: relative;
        left: 43vw;        
    }

    picture#logo > a > img{
        position: relative;
        left: 15vw;
    }

    article, aside{
        margin: auto;
        max-width: 1024px;
    }
}