@charset "UTF-8";

@media screen and (max-width: 768px){
    * h1, h2, h3{
        font-size: 1.2em;
    }
    menu#itens a{
        font-size: .8em;
        position: absolute;
        top: 45px;
        left: 5vw;

        display: none;
    }

    #logo img{
        position: absolute;

        top: 5px;
        left: 1vw;
    }
    span#burguer{
        position: relative;

        top: 90px;
        left: 90%;

        color: #F2441D;
    }
    span#burguer:hover{
        color: #7A38A6;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    menu#itens a{
        position: relative;

        left: 45vw;
    }
    article, aside{
        margin: auto;
        max-width: 85vw;
    }
}

@media screen and (min-width: 1024px){
    menu#itens a{
        position: relative;

        left: 50vw;
    }
}