@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Bungee+Outline&family=M+PLUS+Rounded+1c&family=Rye&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Bungee+Outline&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=M+PLUS+Rounded+1c&family=Rye&display=swap');

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Outline&family=M+PLUS+Rounded+1c&family=Rye&display=swap') format('opentype');
}

* h1, h2, h3{   
    font-family: var(--font-destaque);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-weight: normal;
    text-align: left;
    color: var(--cor1);
    max-width: 1000px;
    margin: auto;
}
* p{
    margin: 0px;
    font-size: .9em;
}

* article, aside{
    font-family: var(--font-padrao);
    text-align: justify;
    max-width: 1000px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

:root{
    --cor0: #7A38A6;
    --cor1: hsla(277, 100%, 84%, 0.603);
    --cor2: #F2441D;
    --cor3: hsla(11, 95%, 62%, 0.712);
    --cor4: hsl(239, 100%, 76%);
    --cor5: hsla(11, 100%, 64%, 0.795);

    --font-destaque: 'Boldonse', sans-serif;
    --font-padrao: 'Inter', sans-serif;
}

html, body{    
    padding: 0px;
    margin: 0px;  
}

header {
    background-color: var(--cor4);
    min-height: 110px;
    border-bottom: 2px solid orangered;
    border-top-width: 0px;
}


picture.logo img{
    float: left;
    position: absolute;
    top: 2px;
    left: 13vw;
    background-color: white;
    border-radius: 10px;  
    border: 2px solid var(--cor2);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
    max-width: 80vw;
    max-height: 80vh;
    
 }

nav.menu a{
    font-family: var(--font-destaque);
    text-decoration: none;
    font-size: clamp (0.8em, 3vw, 1em);
    color: var(--cor2);
    text-shadow: 1px 1px 2px rgb(0, 0, 0); 
    margin: 5px;
    display: inline-block;
    position: relative;

    top: 70px;
    left: 21vw;
}

nav.menu a:hover{
    background-color: var(--cor5);
    transition-duration: 0.2s;
    color: var(--cor0);
    text-shadow: 1px 1px 1px rgb(0, 0, 0); 
    border-radius: 5px;
    border: 1px solid var(--cor0);
    margin: 5px;
    padding-left: 3px;
    padding-right: 3px;
}



main{
    background-color: var(--cor1);
    border-bottom: 2px solid orange;
    text-align: justify;
}

aside picture.fisiorio img{
    box-shadow: 1px 1px 3px black;
    max-width: 100%;
    margin: auto;
    display: block;
}

footer{
    font-family: var(--font-padrao);
    font-weight: bold;
    background-color: var(--cor2);
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: left;
    margin: 0px;
    }
footer p{
    padding: 5px;
}

    nav.social img{
        border: 1px solid var(--cor1);
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 35px;
        border-radius: 25%;
        margin-left: 10px;
     }
    
    nav.social img:hover{
        border: 2px solid var(--cor0);
        box-shadow: 2px solid var(--cor0);
     }
